/*----------------------------------------------------
*html elements
*breadcrums
*navbar
*jumbotron
*headings
*carousel
*footer
*aboutus css >> departments
--------------------------------------------------------------------
*/




/*html elements*/
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}
 hr
{
        /*color: black;
        background-color: black;*/
         border: 0.5px solid #ccc;
}
/*-------------------------------------------------------*/
/*breadcrums*/
.breadcrumb
{
        /*background: rgba(228,224,223,0.7);
color:rgba(104, 101, 100,0.5);*/
}
/*----------------------------------------------------------------*/
 /*navbar*/
.mynav
{
        /*background: rgba(0,0,255,0.1)*/;
        background: white;
        color:black;
        transition-duration: 0.8s;
}
.navimgsize
{
        height:180%;
        margin-top:-15%
}
.nav_right_style
{
        padding-right:5%;
}
/*----------------------------------------------------------------------*/
/*jumbotron*/
#jumbotron1{
        /*margin-top:50px;*/
        height: 600px;
        background-image: url("images/jumbotron1.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
}
.jumbotron
{
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
}
#jumbotron2
{
        height: 600px;
        background-image: url("images/group_pic.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
}
#jumbotron1 h1 {
        display: block;
        margin-top:10%;
        /*height:2%;*/
        /*position: relative;*/
        font-size: 90px;
        text-align: center;
        color: white;
}
#jumbotron2 h1
{        display: block;
        color: white;
        font-size: 90px;
        text-align: center;
}
#jumbotron1 h3 {
        display: block;
        /*margin-top:10%;*/
        font-size: 25px;
        text-align: center;
        color: white;
}
#jumbotron1 h3:hover {
        font-size: 35px;


}
#jumbotron1 h1:hover {
        font-size: 100px;
}
/*------------------------------*/
/*headings*/
.headings_shadow
{
        text-align: center;
        font-size: 25px;
        text-shadow: 2px 5px rgba(0,0,0,0.2);
}
/*------------------------------------------------*/
/*carousel*/
#event_carousel
{
        background: rgba(211,211,211,0.1);
}
#mycarousel1{
    background:rgba(220,220,220,0.8);
}
.carousel .item
{
    height:300px;
}
.item img 
{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselButtons {
    right:0px;
    position: absolute;
    bottom: 0px;
}
.container-fluid
{
        padding-left:5%;
        padding-right:5%;
}
#event_carousel
{
        padding: 0px;
}
#content1_img
{
        border: 2px solid rgba(220,220,220,0.8);
margin: auto !important;
padding:  auto !important;
}
.image_padding
{
        padding:10%;
}
#recent_achievement div
{
        padding-top: 5%;
        padding-bottom: 5%;
}
#mycarousel1 img
{
        height:60%;
        width: 60%;
        padding:10%;
}
/*--------------------------------------------------*/


/*footer*/
#my_footer
{
        background-color: black;
        color:white;
        min-height: 300px;
        text-align: center;
        padding-top: 60px;
}
#social_links
{
        color: white;
        padding-top: 60px;
        padding-bottom: 20px;
}
.fa
{
        color: white;
        margin: 2px;
        padding: 2px;
}
/*-------------------------------------------------------------*/
/*aboutus css >> departments*/
.departments
{
        
        height: 400px;
        margin-top:10px;
        margin-bottom:10px;
        margin-right :10px;
        /*margin-top:10px;*/
}
/*-------------------------------------------------------------------------*/
/*accordian*/
.accordian
{
        
}
/*---------------*/
/*Transition in navbar*/
.tansitionclass {
    background-color:black;
    transition-duration: 0.8s;


}